extends layout

block content
    link(rel='stylesheet', href='/stylesheets/mainmenu.css')
    div(class="grid-containter")
        div(class="basket")
            - var total = 0
            ol(type=1) Basket
                unless (shoppingBasketInfo == undefined)
                    for user in shoppingBasketInfo
                        li &nbsp; Name: #{user.name} // Price: #{user.price} 
                        - total += parseFloat(user.price)

            h1 total = #{total.toFixed(2)}

            form(action="/clearBasket" method="post")
                input(type="submit" name="input" value="Clear Basket")

            form(action="/undo" method="post")
                input(type="submit" name="input" value="Undo")

            form(action="/crazyTransaction" method="get")
                input(type="text" name="name" maxlength="30")
                input(type="number" name="price" step=".01" max="100000")
                input(type="submit" name="input" value="Submit Un-listed Item")

            br
            form(action="/checkout" method="post")
                input(type="submit" name="input" value="Payment")

            br

            form(action="/endofday" method="get")
                input(type="submit" name="input" value="End of Day Summary") 

            form(action="/login" method="get")
                input(type="submit" name="input" value="Log Out") 

            br

            if admin
                form(action="/adminpanel" method="get")
                    input(type="submit" name="adminpanel" value="Admin Panel")

        div(class="option-grid" id="options")
            div(class="categoriesDiv")
                unless (categories == undefined)
                    if productTime
                        for categoryIterator in categories
                            form(action="/addToShopping" method="get")
                                input(type="submit" name="product" value=categoryIterator.name)
                    else             
                        for categoryIterator in categories
                            form(action="/getByCategory" method="get")
                                input(type="submit" name="category" value=categoryIterator.category)

