extends layout

block content
    link(rel='stylesheet', href='/stylesheets/mainmenu.css')
    script(src="javascripts/mainmenu.js")
    h1 #{hello};
    div(class="grid-containter")
        div(class="basket")
            - var total = 0
            ol(type=1) Basket
                unless (basketinfo == undefined)
                    for user in basketinfo
                        li &nbsp; Name: #{user.name} // Price: #{user.price} 
                        - total += parseFloat(user.price)


            h1 total = #{total.toFixed(2)}

            form(action="#" method="post")
                input(type="submit" name="input" value="Clear Basket")
            form(action="#" method="post")
                input(type="submit" name="input" value="Undo")
        div(class="option-grid" id="options")
            button(type="button" onclick="food()") Food
            form(action="#" method="post")
                input(type="submit" name="input" value="fish")
            h1 hello worldd 
    <button id="myButton">Open Form</button>
        #myModal.modal
            .modal-content
                span.close &times;
                h2 ADD ITEM
                form#myForm(action='/submit-form' method='POST')
                    label(for='name') Name:
                    input#name(type='text' name='name')
                    br
                    label(for="stock") Stock: 
                    input#stock(type="number" name="stock") 
                    br
                    label(for="price") Price:
                    input#price(type=number name="price" step=9999)
                    br
                    label(for='agerestricted') Age restricted?:
                    input#email(type="checkbox" name="ageRestricted" checked )
                    br
                    label(for="twoForOne") twoforone
                    input#twoForOne(type="checkbox" name="twoForOne" checked)
                    br
                    label(for="percentOff") percentOff
                    input#percentOff(type="number" name="percentOff") 
                    input(type='submit' value='Submit')
            script(src="javascripts/fetchform.js")
            
    
